@import './reset.css';

:root {
  --font-size-0: 10px;
  --font-size-1: 12px;
  --font-size-2: 14px;
  --font-size-3: 16px;
  --font-size-4: 20px;
  --font-size-5: 24px;
  --font-size-6: 32px;
  --font-size-7: 36px;
  --font-size-8: 40px;
  --font-size-9: 48px;

  --spacing-0: 4px;
  --spacing-1: 8px;
  --spacing-2: 12px;
  --spacing-3: 16px;
  --spacing-4: 20px;
  --spacing-5: 24px;
  --spacing-6: 28px;
  --spacing-7: 32px;
  --spacing-8: 36px;
  --spacing-9: 40px;
  --spacing-10: 48px;

  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --primary-color: #FFBA00;
  --secondary-color: #9C26DF;
  --tertiary-color: #2E2D36;
}

.dark-mode {
  --background-color: #2E2D36;
  --ground-color: #242424;
  --foreground-color: rgba(255, 249, 243, 0.72);
}

.light-mode {
  --background-color: #FFF9F3;
  --ground-color: #242424;
  --foreground-color: rgba(36, 36, 36, 0.72);
}

body {
  background: var(--background-color);
}
