.wrapper {
  &.padding-top {
    padding-top: var(--spacing-8);
  }

  &.padding-bottom {
    padding-bottom: var(--spacing-8);
  }
}

.heading {
  display: flex;
  flex-direction: column;
  
  & + .body {
    padding-top: var(--spacing-5);
  }
}

.title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 var(--spacing-3);

  & + .title {
    margin-top: var(--spacing-1);
  }
}

.title-fragment {
  font-weight: var(--font-weight-bold);
  margin-right: var(--spacing-2);
}

.title-fragment-break-line {
  flex-basis: 100%;
}

.title-fragment-style-fill {
  color: var(--section-title-color);
}

.title-fragment-style-outline {
  color: transparent;
  -webkit-text-stroke: 3px var(--section-title-color);
}

.title-fragment-size-medium {
  font-size: var(--font-size-6);
}

.title-fragment-size-large {
  font-size: var(--font-size-11);
}

.title-fragment-text-transform-uppercase {
  text-transform: uppercase;
}

.title-fragment-text-transform-lowercase {
  text-transform: lowercase;
}

.title-fragment-text-transform-capitalize {
  text-transform: capitalize;
}

.body {
  &.padding-left {
    padding-left: var(--spacing-3);
  }
  
  &.padding-right {
    padding-right: var(--spacing-3);
  }
}
